@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730014190471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-jilu:before {
  content: "\e604";
}

.icon-shibie:before {
  content: "\e670";
}

